/* ChatList.css */
.content {
    display: flex;
    padding: 20px;
}

.content > aside {
    min-width: 200px;
    max-width: 250px;
    margin-right: 20px;
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
}

.content > main {
    flex-grow: 1;
}

.content > main > h2 {
    color: #333;
    margin-bottom: 10px;
}

.content > main .table {
    width: 100%;
    border-collapse: collapse;
}

.content > main .table thead {
    background-color: #f7f7f7;
    color: #333;
}

.content > main .table th,
.content > main .table td {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    text-align: left;
}

.content > main .table th {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content > main .table tbody tr:last-child th,
.content > main .table tbody tr:last-child td {
    border-bottom: none;
}
