.form-container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;  /* Ajoutez un margin top et bottom de 20px */
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #f7f7f7;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field input, .form-field textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Notifications */

.notification {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    width: 80%;
    border-radius: 5px; /* arrondir les coins de la boîte de notification */
    background-color: #4caf50; /* couleur d'arrière-plan de la notification */
    color: white; /* couleur du texte de la notification */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* ajoute une ombre à la boîte de notification pour un effet 3D */
    transition: opacity 1s; /* animation pour faire disparaître la notification */
    opacity: 1;
}

.notification.fadeOut {
    opacity: 0;
}


.tables-container {
    display: flex;
    justify-content: space-between;
}

.users-container, .chat-users-container {
    flex: 1 1 0px;
    margin: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow: hidden;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table thead {
    background-color: #ddd; /* Couleur d'arrière-plan des titres */
}

.table th {
    font-weight: bold; /* Rend les titres de colonnes en gras */
    color: #000; /* Couleur du texte des titres */
}

.button-delete {
    background-color: red;
    color: white;
}

.button-delete:hover {
    background-color: darkred;
}
