/* ChatList.css */
.content {
    display: flex;
    padding: 20px;
    box-sizing: border-box; /* Pour inclure le padding et la border dans la largeur et hauteur totale */
}

.content > aside {
    min-width: 200px;
    max-width: 250px;
    margin-right: 20px;
    border-right: 1px solid #e0e0e0;
    padding-right: 20px;
}

.content > main {
    flex-grow: 1;
}

.content > main > h2 {
    color: #333;
    margin-bottom: 10px;
}

.content > main .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #e0e0e0; /* Ajoute une bordure autour de la table */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Ajoute un effet d'ombre pour un aspect "levé" */
}

.content > main .table thead {
    background-color: #f7f7f7;
    color: #333;
}

.content > main .table th,
.content > main .table td {
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;
}

.content > main .table th {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content > main .table tbody tr:last-child th,
.content > main .table tbody tr:last-child td {
    border-bottom: none;
}

.action-buttons {
    display: flex;
    justify-content: center; /* Centrage horizontal des boutons */
    gap: 8px;
}

.delete-button {
    color: white;
    background-color: red;
    padding: 5px 10px; /* Augmenter l'espace autour du texte */
    border-radius: 3px; /* Rend les boutons arrondis */
}

.edit-btn {
    color: white;
    background-color: green;
    padding: 5px 10px; /* Augmenter l'espace autour du texte */
    border-radius: 3px; /* Rend les boutons arrondis */
}
