.navbar {
    width: 100%;
    background: linear-gradient(to right, dodgerblue, midnightblue); /* Dégradé de bleu */
    padding: 10px 0;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff; /* Couleur du texte en blanc pour contraster avec le fond bleu */
    font-weight: bold;
    transition: color 0.3s ease; /* Ajoute une transition douce lors du changement de couleur */
}

.nav-link:hover {
    color: #FFD700; /* Couleur d'or lors du survol pour un contraste élevé */
}