.form-container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;  /* Ajoutez un margin top et bottom de 20px */
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: #f7f7f7;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-field label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-field input, .form-field textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
