/* Page title */
.page-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align:center;
    color: var(--nav-bg-color);
    margin-bottom: 1rem;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}
/* Variables CSS */
:root {
    --nav-bg-color: #343a40;
    --nav-brand-color: #ffffff;
    --nav-link-color: #f8f9fa;
    --nav-link-hover-color: #ced4da;
    --nav-link-active-color: #adb5bd;
    --nav-transition-duration: 0.3s;
}

/* Table */

.table {
    background-color: #f8f9fa;
    border-collapse: separate;
    border-spacing: 0 1rem;
}

.table thead {
    background-color: #6c757d;
}

.table tbody tr {
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: var(--nav-bg-color);
}

.table thead th {
    font-weight: bold;
    color: var(--nav-link-color);
    text-transform: uppercase;
    padding: 1rem;
}

.table tbody tr:hover {
    background-color: #f2f2f2;
}

.table tbody td {
    padding: 1rem;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*navbar
 */



.custom-navbar {

    background-color: #343a40;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
    margin-left: 30px;
    margin-right: 30px;
}


.nav-item .selected {
    background-color: #007bff;
    color: #ffffff;
    border-radius: 15px;
}

nav li {
    display: inline;
}

/*Boutton*/

.edit-btn {
    background-color: #007bff;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #ED2B2A;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #D21312;
}

.disable-btn {
    background-color: #9DC08B;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.disable-btn:hover {
    background-color: #609966;
}



.thead-dark th {
    font-weight: 600;
}

/* Alerte */
.alert {
    border-radius: 10px; /* Arrondit les coins de l'alerte */
    color: #ffffff; /* Change la couleur du texte */
    padding: 15px; /* Ajoute un peu plus d'espace à l'intérieur de l'alerte */
    margin-bottom: 20px; /* Ajoute un espace en bas de l'alerte */
    font-size: 18px; /* Change la taille du texte */
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
}

.alert-success {
    background-color: #4CAF50; /* Vert pour le succès */
}

.alert-danger {
    background-color: #f44336; /* Rouge pour une erreur */
}
.alert .close {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #000;  /* change the color as per your preference */
}