<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Administration</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl7/1L_dstPt3HV5HzF6Gvk/eO8pgem5ud5v5ync/y" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/admin.css}">

</head>


<body>
<header>
  <div class="container">
    <h1 class="page-title mt-4 mb-4">Administration</h1>
  </div>

  <body>
  <ul class="menu">
    <li class="nav-item">
      <a class="nav-link" href="#" th:href="@{/admin/createUser}">Création d'un nouvel utilisateur</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " th:href="@{/admin}">Liste des utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" th:href="@{/admin/disabledUsers}">Liste des comptes d'utilisateurs désactivés</a>
    </li>
  </ul>
  </body>

</header>

<h1 class="form-title">Edition d'utilisateur</h1>
<form th:action="@{/admin/editUser}" th:object="${user}" method="post" class="user-form">
  <input type="hidden" th:field="*{id}">
  <div class="mb-3">
    <label for="firstname" class="form-label">Prénom :</label>
    <input type="text" id="firstname" name="firstName" th:field="*{firstName}" required class="form-input">
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error-text"></span>
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Nom :</label>
    <input type="text" id="lastname" name="lastName" th:field="*{lastName}" required class="form-input">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error-text"></span>
  </div>
  <div class="mb-3">
    <label for="mail" class="form-label">Adresse e-mail :</label>
    <input type="email" id="mail" name="mail" th:field="*{mail}" required class="form-input">
    <span th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="error-text"></span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Mot de passe</label>
    <input type="password" id="password" name="password" th:field="*{password}" class="form-input">
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-text"></span>
  </div>
  <div class="mb-3">
    <button type="submit" class="submit-btn">Editer l'utilisateur</button>
  </div>
</form>
</body>
</html>